@font-face {
  font-family: "SourceSansProLight";
  src: local("SourceSansProLight"),
    url("@/styles/fonts/source-sans-pro.light.ttf") format("truetype")
}
@font-face {
  font-family: "SourceSansProRegular";
  src: local("SourceSansProRegular"),
    url("@/styles/fonts/source-sans-pro.regular.ttf") format("truetype")
}


