@import './fonts.scss';

body {
  margin: 0;
  font-family: SourceSansProLight, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.429;
  color: #202020;
  text-align: left;
  background-color: #fff;
}

html a {
  outline: none;
}

a {
  transition: 0.3s color ease;
}
a {
  color: #A0A0A0;
  text-decoration: none;
  background-color: transparent;
}

.text-dark {
  color: #202020!important;
}

h1.product-name {
  margin: 0 0 2rem 0;
  text-transform: none;
}

h1, .h1 {
  font-family: "Source Sans Pro",sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 3rem;
}

.container {
  padding: 20px 16px;
  max-width: 1322px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  transition: 0.3s top ease;
  width: 100%;
}